In [ ]:
# https://www.youtube.com/watch?v=UYGwgHhazMA

In [1]:
import pandas as pd
import plotly.express as px

In [4]:
df=pd.read_csv('avocado-updated-2020.csv')
df.info

<bound method DataFrame.info of              date  average_price  total_volume        4046       4225  \
0      2015-01-04           1.22      40873.28     2819.50   28287.42
1      2015-01-04           1.79       1373.95       57.42     153.88
2      2015-01-04           1.00     435021.49   364302.39   23821.16
3      2015-01-04           1.76       3846.69     1500.15     938.35
4      2015-01-04           1.08     788025.06    53987.31  552906.04
...           ...            ...           ...         ...        ...
33040  2020-11-29           1.47    1583056.27    67544.48   97996.46
33041  2020-11-29           0.91    5811114.22  1352877.53  589061.83
33042  2020-11-29           1.48     289961.27    13273.75   19341.09
33043  2020-11-29           0.67     822818.75   234688.01   80205.15
33044  2020-11-29           1.35      24106.58     1236.96     617.80

           4770  total_bags  small_bags  large_bags  xlarge_bags  \
0         49.90     9716.46     9186.93      529.53         0.00
1          0.00     1162.65     1162.65        0.00         0.00
2         82.15    46815.79    16707.15    30108.64         0.00
3          0.00     1408.19     1071.35      336.84         0.00
4      39995.03   141136.68   137146.07     3990.61         0.00
...         ...         ...         ...         ...          ...
33040   2617.17  1414878.10   906711.52   480191.83     27974.75
33041  19741.90  3790665.29  2197611.02  1531530.14     61524.13
33042    636.51   256709.92   122606.21   134103.71         0.00
33043  10543.63   497381.96   285764.11   210808.02       809.83
33044   1564.98    20686.84    17824.52     2862.32         0.00

               type  year             geography
0      conventional  2015                Albany
1           organic  2015                Albany
2      conventional  2015               Atlanta
3           organic  2015               Atlanta
4      conventional  2015  Baltimore/Washington
...             ...   ...                   ...
33040       organic  2020            Total U.S.
33041  conventional  2020                  West
33042       organic  2020                  West
33043  conventional  2020   West Tex/New Mexico
33044       organic  2020   West Tex/New Mexico

[33045 rows x 13 columns]>

In [7]:
print(df['type'].value_counts(dropna=False))
print(df['geography'].value_counts(dropna=False))

conventional    16524
organic         16521
Name: type, dtype: int64
Albany                  612
Sacramento              612
Northeast               612
Northern New England    612
Orlando                 612
Philadelphia            612
Phoenix/Tucson          612
Pittsburgh              612
Plains                  612
Portland                612
Raleigh/Greensboro      612
Richmond/Norfolk        612
Roanoke                 612
San Diego               612
Atlanta                 612
San Francisco           612
Seattle                 612
South Carolina          612
South Central           612
Southeast               612
Spokane                 612
St. Louis               612
Syracuse                612
Tampa                   612
Total U.S.              612
West                    612
New York                612
New Orleans/Mobile      612
Nashville               612
Midsouth                612
Baltimore/Washington    612
Boise                   612
Boston                  612
Buffalo/Rochester       612
California              612
Charlotte               612
Chicago                 612
Cincinnati/Dayton       612
Columbus                612
Dallas/Ft. Worth        612
Denver                  612
Detroit                 612
Grand Rapids            612
Great Lakes             612
Harrisburg/Scranton     612
Hartford/Springfield    612
Houston                 612
Indianapolis            612
Jacksonville            612
Las Vegas               612
Los Angeles             612
Louisville              612
Miami/Ft. Lauderdale    612
West Tex/New Mexico     609
Name: geography, dtype: int64